body {
  padding-top: 40px;
  font-family: verdana;
  color: #6a6a6a;
  background-color: #FFFFFF 
}

h1 {
  font-family: verdana }

p {
    font-family: verdana;
    font-size: 12px
}

ul.navbar {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333
}

ul.navbar li {
  float: left
}

ul.navbar li a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

ul.navbar li a:hover {
    background-color: #111
}

ul.navbar .active {
    background-color: #1e90ff
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #aed6f1;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
  font-family: verdana;
  font-size: 12px
}

img {
  vertical-align: middle
}