/* Brian Dew BD Economics - style.css */

/* General document styling */
html{
	margin: 0 auto;
	max-width: 900px;
	min-width: 300px;
	}
body{
	left: 0;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	background-color: #fff;
	}
p{font-size: 12px; color: #6a6a6a;}

h1, h2, h3{font-family: 'Montserrat'; line-height: 1.25;}
hl{margin: 0 0 10px; font-size: 40px;}
h2{margin: 0 0 10px; font-size: 32px;}
h3{margin: 10px 0 10px; font-size: 24px;}

/* Styling for links */
a:link{text-decoration: none; color: #C70039;}
a:visited{text-decoration: none; color: #900C3F;}
a:hover{text-decoration: underline; color: #FFC300;}

/* Top Navigation Bar */
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #4B4B4B;
	float: left;
	padding: 0;
	z-index: 999;
	}
.ul_nav{list-style: none; max-width: 900px; margin: 0 auto; padding: 0; z-index: 999;}
.ul_nav li{float: left;}
.ul_nav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
	font-family: 'Montserrat';
    font-size: 17px;
	}
.nav_main{font-weight: bold; padding: 0 10px 0 10px;}
.ul_nav li a:hover{background-color: #111;}
.active{background-color: #FF2F2F;}
.ul_nav li.icon {display: none;}

/* Top Navigation - Responsive */
@media screen and (max-width:600px) {
	.ul_nav li:not(:first-child) {display: none;}
	.ul_nav li.icon {float: right; display: inline-block;}
	.ul_nav {width: 100%; background-color: #4B4B4B;}
	.ul_nav.responsive {visibility: visible;}
	.ul_nav.responsive li.icon {position: absolute; right: 0; top: 0;}
	.ul_nav.responsive li {float: none; display: inline;}
	.ul_nav.responsive li a {display: block; text-align: left;}
}

/* Header styling */
header{
	padding: 25px 0 0 0;
    clear: left;
    text-align: center;
	background-color: #939393;
    color: white;
    font-size: 20px;
}
header h1{padding: 0 0 12px 0;}
header h2{padding: 20px 0 12px 0;}
header h3{padding: 20px 0 12px 0;}

/* Footer styling */
footer{display: block; margin: 2em 0 0 0; border-top: thin dotted; }
.footer_left{
	width: 49%;
	Float: left;
	display: inline;
	font-family: georgia;
	font-style: italic;
	color: #6a6a6a;
}
.footer_right{
	width: 49%;
	Float: right;
	display:inline;
	text-align: right;
}
/* Section formatting */
section{margin: 5px; padding: 0px;}
.article_code{padding-top: 10px;}
.article_links{
	padding-top: 5px;
    width: 100%;
	text-align:center;
	}
.article_links a{text-decoration: none;}
/* Cards with Links */
.card {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: 12px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.card_dull{
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: 12px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	opacity: 0.5;
}
.card_dull:hover{opacity: 1;}
.card:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
			width: 252px; text-decoration: none;}
.card_head_blue{background-color: #3441de; color: white; padding: 10px; font-size: 40px;}
.card_head_yellow{background-color: #FFC300; color: white; padding: 10px; font-size: 40px;}
.card_head_green{background-color: #27AE60; color: white; padding: 10px; font-size: 40px;}
.card_tail{padding: 10px; background-color: white; height: 70px;}

.subfooter{width:100%; text-align: center; font-size: 16px; padding-top:10px;}
.subfooter a {text-decoration: none;}
.subfooter a:hover {font-size: 17px;}


/* Used for the social media buttons */
.button_sm{
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #FF2F2F;
    border: none;
}
.button_sm:hover{background-color: #FF2F2F; color: white;}
.footer_right a {text-decoration: none;}

code {text-align: left;}

.fa.fa-caret-down {color: #FF2F2F;}
.fa.fa-caret-up {color: #27AE60; font-size: 17px;}
