		<footer>
		<div class="footer-sitemap">
			<div>
				<h2><a href="/reports.html">Data</a></h2>
				<ul>
				{%- assign featured_dashboards = site.data.dashboards | where: "featured", true | sort: "order" -%}
				{%- for d in featured_dashboards %}
					<li><a href="{{ d.url }}">{{ d.short_title }}</a></li>
				{%- endfor %}
				</ul>
			</div>
			<div>
				<h2><a href="/python.html">Guides</a></h2>
				<ul>
				{%- assign featured_tutorials = site.tutorials | where: "featured", true | sort: "order" -%}
				{%- for t in featured_tutorials %}
					<li><a href="{{ t.url }}">{{ t.short_title }}</a></li>
				{%- endfor %}
				</ul>
			</div>
			<div>
				<h2><a href="/about.html">About</a></h2>
				<ul>
					<li><a href="/about.html">About BD Economics</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="https://github.com/bdecon/" target="_blank" rel="noopener">GitHub</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
		<div class="footer-left">
			<p><time datetime="2026">2026</time>, by Brian Dew</p>
		</div>
		<nav class="footer-right" aria-label="Social links">
			{% include social-icons.html keys="github,linkedin,twitter,rss" %}
		</nav>
		</div>
		</footer>
